.timer {
    display: flex;
    position: absolute;
    align-items: right;
    justify-content: center;

    margin: 10px;
    padding: 10px;
    
    background: rgb(155, 155, 155);
    border: 5px solid rgb(255, 7, 7);
    border-radius: 15px;
}